################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.orig
Thumbs.db
*.stackdump
*.obj
*.exe
*.pdb
*.user
*.user.txt
*.[Uu]ser.json
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.css.map
*.min.css
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
.vs