@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        <CascadingValue Name="borde" Value="Bordercolor">
            <CascadingValue Name="background" Value="BackgroundColor">
                @Body
            </CascadingValue>
        </CascadingValue>
    </div>
</div>
@code{
    private readonly string Bordercolor="red";
    private readonly string BackgroundColor = "cyan";
}