@page "/perfil/{Name}"
@using WebPersonal.FrontEnd.WebApp.Componentes

<PerfilPersonal Profile="@Name"></PerfilPersonal>

<a href="/perfil/netmentor"> Enlace al segundo perfile</a>

@code{
    [Parameter]
    public string Name { get; set; }
}