@page "/perfil/{Name}"
@using WebPersonal.FrontEnd.WebApp.Componentes
@inject StateContainer stateContainer
@inject IJSRuntime jsRuntime
@implements IDisposable
<!-- Parent Component -->
<div class="@stateContainer.SelectedCssClass">@Mensaje</div>

<button @onclick="EjecutarJs">Ejecutar JavaScript</button>

<button onclick="window.LlamarCSharp()">Llamar C# desde JS</button>

<PerfilPersonal Profile="@Name" OnClick="ClickCallback"></PerfilPersonal>

<Contacto />
@code{
    [Parameter]
    public string Name { get; set; }

    public string Mensaje = "Este es el mensaje en el elemento padre";

    void ClickCallback(string mensajeNuevo)
    {
        Mensaje = mensajeNuevo;
    }


    protected override void OnInitialized()
    {
        stateContainer.CambiarColor += StateHasChanged;
    }

    public void Dispose()
    {
        stateContainer.CambiarColor -= StateHasChanged;
    }

    public void EjecutarJs()
    {
        jsRuntime.InvokeVoidAsync("MostrarAlerta", "Mensaje enviado desde c# a Js");
    }

}