@page "/perfil/{Name}"
@using WebPersonal.FrontEnd.WebApp.Componentes
@inject StateContainer stateContainer
@implements IDisposable

<!-- Parent Component -->
<div class="@stateContainer.SelectedCssClass">@Mensaje</div>


<PerfilPersonal Profile="@Name" OnClick="ClickCallback"></PerfilPersonal>

<Contacto />
@code{
    [Parameter]
    public string Name { get; set; }

    public string Mensaje = "Este es el mensaje en el elemento padre";

    void ClickCallback(string mensajeNuevo)
    {
        Mensaje = mensajeNuevo;
    }


    protected override void OnInitialized()
    {
        stateContainer.CambiarColor += StateHasChanged;
    }

    public void Dispose()
    {
        stateContainer.CambiarColor -= StateHasChanged;
    }

}